@use '../../styles/main' as *;

.card-room {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 19.429em;
  background-color: $color-third-bg;
  border: 1px solid $color-third-bg;
  border-radius: 4px;
  box-shadow: $shadow-header-footer;

  &__info {
    padding: 1.429em 1.214em 1.214em 1.357em;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 0.643em;
    padding-bottom: 0.786em;
    border-bottom: 1px solid $color-font-a10;
  }

  &__number-block {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: baseline;
    margin: 0;
    @include font-h2;
  }

  &__number {
    display: flex;
    flex-wrap: wrap;
    max-width: 16.643em;
  }

  &__text-before {
    color: $color-font-a100;
    font: bold 1rem/ 1.21 $main-font-family;
  }

  &__text-after {
    padding-left: 5px;
    color: $color-primary-bg;
    font: bold 0.857rem $main-font-family;
    text-transform: uppercase;
  }

  &__price-block {
    display: flex;
    flex-wrap: wrap;
    gap: 0.357em;
  }

  &__price {
    color: $color-font-a50;
    font: bold 1rem/1.28 $main-font-family;
  }

  &__price-text {
    color: $color-font-a50;
    font: 0.857em/1.5 $main-font-family;
  }

  &__rating-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 0.286em;
    justify-content: flex-end;
    color: $color-font-a50;
    font: 1rem/1.28 $main-font-family;
  }

  &__reviews-value {
    font-weight: bold;
  }

  &__reviews-text {
    padding-right: 4px;
  }
}
