@use '../../styles/main' as *;

.room-details {
  width: 100%;
  border-bottom: 1px solid $color-font-a25;

  &__preview-images-block {
    display: grid;
    grid:
      'big-img small-img-1'
      'big-img small-img-2';
    grid-template-columns: 68.13% 31.87%;
    grid-template-rows: 17.5em 17.143em;
    width: 100%;

    @media screen and (max-width: 767px) {
      grid:
        'big-img'
        'small-img-1'
        'small-img-2';
    }
  }

  &__preview-image-item{
    &_size_big {
      grid-area: big-img;
    }

    &_size_small_1 {
      grid-area: small-img-1;
    }

    &_size_small_2 {
      grid-area: small-img-2;
    }
  }

  &__preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
    max-width: 85.714em;
    margin: 0 auto;
    padding: 4.929em 0 5.143em;

    @media screen and (max-width: 768px) {
      padding: 2em 0;
    }
  }

  &__info {
    width: 100%;
    max-width: 57.143em;
    margin: 0 auto;
    padding: 0 1.429em;

    @media screen and (max-width: 1200px) {
      padding-top: 2em;
    }
  }

  &__short-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: space-between;
    max-width: 48.143em;
    margin-bottom: 1em;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 2em;
    }
  }

  &__benefits-block {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  &__title {
    margin: 0;
    @include font-h2;

    &_for-bullet {
      margin: 0 0 1em 1.053em;

      @media screen and (max-width: 767px) {
        margin-left: 0;
      }
    }

    &_for-cancel {
      margin-bottom: 1.053em;
    }
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 1.429em;
  }

  &__chart {
    flex-basis: 22.429em;
  }

  &__testimonials-block {
    max-width: 50.786em;
    margin-bottom: 2.286em;
  }

  &__testimonials-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.571em;
  }

  &__testimonials-value {
    color: $color-font-a50;
    font: 1rem $main-font-family;
  }

  &__testimonials {
    display: flex;
    flex-direction: column;
    gap: 1.643em;
  }

  &__rules {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    max-width: 50.214em;
  }

  &__bullet-block {
    max-width: 20.857em;
  }

  &__bullet-list {
    display: flex;
    flex-direction: column;
    gap: 0.714em;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__cancel-block {
    max-width: 24.429em;
  }

  &__cancel-text {
    @include font-body;
  }

  &__card-booking {
    width: 28.571em;
    margin: 0 auto;
    padding-right: 1.429em;

    @media screen and (max-width: 1150px) {
      width: 100%;
      max-width: 27.143em;
      padding-right: 0;
    }
  }
}
