@use '../../styles/main' as *;

.landing-page {
  position: relative;
  display: grid;
  width: 100%;

  &__slider {
    grid-area: 1/-1;
  }

  &__wrapper {
    z-index: 1;
    display: grid;
    grid:
      'card .'
      'info info'
      /33% 1fr;
    grid-template-rows: 444px 48px;
    grid-area: 1/-1;
    align-content: space-between;
    width: 100%;
    max-width: 86.143em;
    margin: 0 auto;
    padding: 5em 1.143em 1.429em 1.571em;
  }

  &__card-search {
    grid-area: card;
  }

  &__text-block {
    grid-area: info;
    display: flex;
    justify-content: flex-end;
  }

  &__text-info {
    max-width: 21.214em;
    margin: 0;
    text-align: end;
    @include font-body;
  }
}
