extends ../../layouts/main-layout/main-layout

include ../../components/slider/slider
include ../../components/card-search/card-search

block variables
  -
    const title = "Landing page";
    const textInfo = "Лучшие номера для вашей работы, отдыха и просто вдохновения";

block content
  main.landing-page
    .landing-page__slider
      -
        const roomsPictures = require('./rooms-images.json');

      +slider({
        roomsImages:[
          {src: require(`./images/${roomsPictures.room1.src}`), alt: roomsPictures.room1.alt},
          {src: require(`./images/${roomsPictures.room2.src}`), alt: roomsPictures.room2.alt},
          {src: require(`./images/${roomsPictures.room3.src}`), alt: roomsPictures.room3.alt},
        ]
      })
    .landing-page__wrapper
      section.landing-page__card-search
        +card-search({
          textTitle: "Найдём номера под ваши пожелания",
          hrefSearchBtn: "./search-room.html",
        })
      .landing-page__text-block
        p.landing-page__text-info= textInfo


