@use '../../styles/main' as *;

.landing-page {
  position: relative;
  display: grid;
  width: 100%;

  @media screen and (max-width: 730px) {
    display: block;
  }

  &__slider {
    grid-area: 1/-1;
  }

  &__wrapper {
    z-index: 1;
    display: grid;
    grid:
      'card .'
      'info info'
      /33% 1fr;
    grid-area: 1/-1;
    grid-template-rows: 444px 48px;
    align-content: space-between;
    width: 100%;
    max-width: 86.143em;
    margin: 0 auto;
    padding: 5em 1.143em 1.429em 1.571em;

    @media screen and (max-width: 1190px) {
      grid:
        'card .'
        '. info'
        /27.143em 1fr;
    }

    @media screen and (max-width: 800px) {
      grid:
        'card info'
        /27.143em 1fr;
    }

    @media screen and (max-width: 730px) {
      display: flex;
      flex-direction: column;
      gap: 2.143em;
      align-items: center;
      padding: 3em 0 0;
    }
  }

  &__card-search {
    grid-area: card;
    width: 100%;

    @media screen and (max-width: 730px) {
      display: flex;
      justify-content: center;
    }
  }

  &__text-block {
    display: flex;
    grid-area: info;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      align-items: flex-end;
    }
  }

  &__text-info {
    max-width: 21.214em;
    margin: 0;
    text-align: end;
    @include font-body;

    @media screen and (max-width: 730px) {
      text-align: center;
    }
  }
}
