@use '../../styles/main' as *;

.radio {
  display: flex;
  gap: 0.714em;
  width: 100%;
  max-width: 7.339em;
  color: $color-font-a50;
  font: 1rem/1.4 $main-font-family;
  cursor: pointer;

  &:focus,
  &:hover {
    @include font-body;
  }

  &__input {
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    margin: 0;
    color: currentColor;
    font: inherit;
    background-color: $color-third-bg;
    border: 1px solid $color-font-a25;
    border-radius: 50%;
    outline: none;
    appearance: none;

    &::before {
      width: 0.857em;
      height: 0.857em;
      background-image: $primary-gradient;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      content: '';
      clip-path: circle(50% at 50% 50%);
    }

    &:focus,
    &:hover,
    &:checked {
      border-color: $color-primary-bg;
    }

    &:hover {
      cursor: pointer;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}
