@use '../../styles/main' as *;

.radio {
  display: flex;
  gap: 0.714em;
  width: 100%;
  max-width: 7.339em;
  color: $color-font-a50;
  font: 1rem/1.71 $main-font-family;
  cursor: pointer;
  
  &:focus,
  &:hover {
    @include font-body;
  }

  &__input {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 1px solid $color-font-a25;
    border-radius: 50%;
    outline: none;
  
    &::before {
      content: "";
      width: 0.857em;
      height: 0.857em;
      clip-path: circle(50% at 50% 50%);
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-image: $primary-gradient;
    }
  
    &:focus,
    &:hover,
    &:checked {
      border-color: $color-primary-bg;
    }

    &:hover {
      cursor: pointer;
    }
  
    &:checked::before {
      transform: scale(1);
    }
  }  
}




