include ../../components/page-header/page-header
include ../../components/page-footer/page-footer
include ../../components/page-footer-mobile/page-footer-mobile

block variables
  -
    const description = "Отель Toxin. Лучшие номера для вашей работы, отдыха и просто вдохновения";
    const keywords = "снять номер, жилье, проживание, отели,лучшие отели";

doctype html
html(lang="ru")
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE-Edge")
    meta(name="description", content= description)
    meta(name="keywords", content= keywords)
    title #{ title }
  body
    .page__container
      .page__header
        +page-header({
          loggedIn: false,
          navMenuItems: [
            { navItemName: "О нас", href: "/mock-address/change-me"},
            { navItemName: "Услуги", withDropdown: true},
            { navItemName: "Вакансии", href: "/mock-address/change-me"},
            { navItemName: "Новости", href: "/mock-address/change-me"},
            { navItemName: "Соглашения", withDropdown: true},
          ],
          hrefEntryBtn: "./sign-in.html",
          hrefCreateBtn: "./registration.html"
        })
      .page__main
        block content
      .page__footer
        +page-footer({
          shortDesc: "Бронирование номеров в лучшем отеле 2019 года по версии\
                      ассоциации «Отельные взгляды»",
          subsTitle: "Подписка",
          subsText: "Получайте специальные предложения и новости сервиса",
          footerNavMenuItems: [
            { title: "Навигация",
              links: [
                { navItemName: "О нас", href: "/mock-address/change-me"},
                { navItemName: "Новости", href: "/mock-address/change-me"},
                { navItemName: "Служба поддержки", href: "/mock-address/change-me"},
                { navItemName: "Услуги", href: "/mock-address/change-me"},
              ]
            },
            { title: "О нас",
              links: [
                { navItemName: "О сервисе", href: "/mock-address/change-me"},
                { navItemName: "Наша команда", href: "/mock-address/change-me"},
                { navItemName: "Вакансии", href: "/mock-address/change-me"},
                { navItemName: "Инвесторы", href: "/mock-address/change-me"},
              ]
            },
            { title: "Служба поддержки",
              links: [
                { navItemName: "Соглашения", href: "/mock-address/change-me"},
                { navItemName: "Сообщества", href: "/mock-address/change-me"},
                { navItemName: "Связь с нами", href: "/mock-address/change-me"},
              ]
            },
          ],
          copyrightText: "Copyright © 2018 Toxin отель. Все права защищены.",
          footerSocialLinks: [
            {
              name: "twitter",
              href: "/mock-address/change-me",
              imgSrc: require("../../components/social-links/images/twitter-icon.svg"),
            },
            {
              name: "facebook",
              href: "/mock-address/change-me",
              imgSrc: require("../../components/social-links/images/facebook-icon.svg"),
            },
            {
              name: "instagram",
              href: "/mock-address/change-me",
              imgSrc: require("../../components/social-links/images/intagram-icon.svg"),
            },
          ]
        })