@use '../../styles/main' as *;

.rate-button {
  display: flex;

  &__icon {
    font: 1.714rem 'Material Icons';
    background-image: $primary-gradient;
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
