mixin rate-button(params = {})
  - 
    const {
      rating= "",
    } = params;
    let i = 0 

  .rate-button
    while i < 5
      if (i < rating)
        span.rate-button__icon star
      else
        span.rate-button__icon star_border
      - i++  