@use '../../styles/main' as *;

.chart {
  display: flex;
  flex-direction: column;
  gap: 1.643em;
  width: 100%;
  max-width: 22.357em;

  &__title {
    margin: 0;
    @include font-h2;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: flex-end;
    justify-content: center;
    max-width: 100%;

    @media screen and (max-width: 767px) {
      gap: 2.5em;
    }
  }
}
