@use '../../styles/main' as *;

.nav-menu {
  
  &__list {
    display: flex;
    align-items: center;
    gap: 1.429em;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &_footer {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.54em;
    }
  }

  &__title {
    margin: 0.333em 0 1.75em;
    @include font-h3;
    text-transform: uppercase;
  }

  &__item {
    display: inline-block;
    font-size: 0;
  }
}