@use '../../styles/main' as *;

.nav-menu {
  
  &__list {
    display: flex;
    align-items: center;
    gap: 1.429em;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    font-size: 0;
  }
}