@use '../../styles/main' as *;

.nav-menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.429em;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: space-around;
    }

    &_footer {
      flex-direction: column;
      gap: 0.786em;
      align-items: flex-start;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 11.429em;
  }

  &__title {
    margin: 0.333em 0 1.75em;
    @include font-h3;

    text-transform: uppercase;
  }

  &__item {
    display: inline-block;
    font-size: 0;
  }
}
