extends ../../layouts/main-layout/main-layout

include ../../components/card-log-in/card-log-in

block variables
  -
    const title = "Sign-in";

block content
  main.sign-in
    .sign-in__bg-image-block
      img.sign-in__bg-image(
        src=require("../../assets/images/bg-room-1.jpg"),
        alt="Фото комнаты",
      )
    section.sign-in__card-log-in
      .sign-in__card-log-in-wrapper
        +card-log-in({
          textTitle: "Войти",
          createAccText: "Нет аккаунта на Toxin?",
          hrefCreateBtn: "./registration.html"
        })