@use '../../styles/main' as *;

.sign-in {
  display: grid;
  width: 100%;

  &__bg-image-block {
    grid-area: 1/-1;
    max-height: 48.786em;
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__card-log-in {
    grid-area: 1/-1;
    width: 27.143em;
    margin: 12.286em auto;
  }
}