@use '../../styles/main' as *;

.btn {
  display: inline-block;
  min-width: 34px;
  padding: 1.167em 1.61em 1.25em;
  @include font-h3;
  color: $border-primary;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  background: $primary-gradient;
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;
  appearance: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &_hovered {
    opacity: 0.5;
  }

  &_with-border {
    position: relative;
    color: $color-primary-bg;
    background: $color-third-bg;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 2px;
      background: $primary-gradient;
      border-radius: 22px;
      content: '';
      mask: linear-gradient($color-third-bg 0 0) content-box,
        linear-gradient($color-third-bg 0 0);
      mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &_border-less {
    padding: 0;
    color: $color-primary-bg;
    background: none;
    border: none;

    &:hover,
    &:focus {
      color: $color-font-a50;
      opacity: 1;
    }
  }

  &_border-less-hovered {
    color: $color-font-a50;
  }

  &_payment-go {
    position: relative;
    width: 100%;
    max-width: 26.667em;
    padding: 1.25em 3.667em 1.25em 1.667em;
  }

  &_page,
  &_selected-page,
  &_turned-next-page {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    max-height: 40px;
  }

  &_page {
    color: $color-font-a50;
    font-weight: normal;
    background: none;
    border: none;

    &:hover,
    &:focus {
      color: $border-primary;
      background: $primary-gradient;
      opacity: 1;
    }
  }

  &_turned-next-page {
    font-weight: normal;
    background: $secondary-gradient;
  }

  &_login,
  &_registration {
    padding: 0.75em 1.667em 0.833em;
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    padding: 3px 0;
  }

  &:disabled {
    color: $color-font-a50;
    background: none;
    cursor: auto;
  }
}
