@use '../../styles/main' as *;

.like-button {
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 40px;
  background-color: $color-third-bg;
  border: 1px solid $color-font-a25;
  border-radius: 0.714em;
  outline: none;

  &_active {
    border-color: $color-primary-bg;
  }

  &:hover {
    cursor: pointer;
  }

  &__icon {
    display: inline-block;
    padding: 4px;
    font: 0.714rem/1 'Material Icons';
    background-image: $primary-gradient;
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  &__count {
    padding: 2px 9px 3px 0;
    color: $color-font-a25;
    font: 0.714rem/1.219 $main-font-family;

    &_active {
      color: $color-primary-bg;
      font: 0.714rem/1.219 $main-font-family;
    }
  }
}
