mixin like-button(params = {})
  -
    const {
      count,
      isActive= true,
    } = params;

    const likeButtonActive = isActive ? "like-button_active" : "";

  button.like-button(class= `${likeButtonActive} js-like-button`)
    if isActive
      span.like-button__icon favorite
    else
      span.like-button__icon favorite_border
    span.like-button__count= count  

