@use '../../styles/main' as *;

.search-room {
  width: 100%;
  border-bottom: 1px solid $color-font-a25;

  &__wrapper {
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 2.571em;
    width: 100%;
    max-width: 86.286em;
    margin: 0 auto;
    padding: 1.286em 0.786em 4.429em;

    @media screen and (max-width: 550px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1em;
    }
  }

  &__sidebar {
    width: 100%;
    max-width: 20.714em;
    padding: 0.857em;
  }

  &__dropdowns-block {
    display: flex;
    flex-direction: column;
    gap: 1.571em;
    margin-bottom: 2.143em;
  }

  &__title-component {
    margin-bottom: 5px;

    &_for-checkbox {
      margin-bottom: 1.2em;
    }
  }

  &__range-slider {
    margin-bottom: 2.071em;
  }

  &__checkbox-group,
  &__rich-checkbox-group {
    margin-bottom: 2.143em;
  }

  &__checkbox-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__rich-checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 0.786em;
  }

  &__comfort-block {
    display: flex;
    flex-direction: column;
    gap: 1.214em;
  }

  &__room-cards {
    padding: 0.857em 0;
  }

  &__title {
    margin: 0;
    padding: 0 0.5em;
    @include font-h1;

    @media screen and (max-width: 550px) {
      text-align: center;
    }
  }

  &__room-list-block {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 925px) {
      align-items: center;
    }
  }

  &__room-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19.429em, 1fr));
    box-sizing: border-box;
    margin-bottom: 1.357em;
    padding: 1.571em 0.857em;
    column-gap: 0.714em;
    row-gap: 1.5em;
  }

  &__pagination {
    margin: 0 auto;
  }
}
