@use '../../styles/main' as *;

.date-dropdown {
  display: flex;
  gap: 1.429em;

  &__input-group {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 0.389em;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    border: 1px solid $color-font-a25;
    border-radius: 4px;

    &:focus,
    &:hover {
      border-color: $color-font-a50;
    }
  }

  &__input {
    flex-basis: 70.27%;
    max-width: 7.429em;
    padding: 0.643em 0 0.643em 0.857em;
    color: $color-font-a75;
    font: 1rem/1.71 $main-font-family;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;

    &:hover {
      border-color: $color-font-a50;
    }
  }

  &__button {
    display: flex;
    flex-basis: 29.73%;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    padding: 0;
    text-align: center;

    &::before {
      font: 1.714rem 'Material Icons', sans-serif;
      content: '\e5cf';
    }
  }
}
