@use '../../styles/main' as *;

.date-dropdown {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 22.857em;

  &__input-group {
    display: flex;
    flex-direction: column;
    max-width: 46.88%;
  }

  &__title {
    margin-bottom: 0.429em;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    max-width: 10.714em;
    border: 1px solid $color-font-a25;
    border-radius: 4px;

    &:focus,
    &:hover {
      border-color: $color-font-a50;
    }
  }

  &__input {
    max-width: 70%;
    padding: 6% 0 5.63% 9%;
    color: $color-font-a75;
    font: 1rem/1.71 $main-font-family;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
  }

  &__button {
    display: flex;
    flex-basis: 29.73%;
    align-items: center;
    justify-content: center;
    max-width: 44px;
    padding: 0;
    text-align: center;

    &::before {
      font: 1.714rem 'Material Icons', sans-serif;
      content: '\e5cf';
    }
  }
}
