@use '../../styles/main' as *;

.arrow {
  display: inline-block;
  font: 1.714rem/1.71 'Material Icons';
  text-transform: none;

  &_with-gradient {
    background-image: $primary-gradient;
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
