@use '../../styles/main' as *;

.arrow {
  display: inline-block;
  font: 1.714em/1.71 'Material Icons';

  &_with-gradient {
    background-image: $primary-gradient;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
}