mixin dropdown-common-value({params = {}, elements=[]})
  -
    const {
      open= true,
    } = params 
    

  details.dropdown-common-value(open= open)
    summary.dropdown-common-value__field 
      span.dropdown-common-value__text Сколько гостей
      span.dropdown-common-value__arrow expand_more
    ul.dropdown-common-value__collapsible-content
      each elem in elements
        li.dropdown-common-value__collapsible-item 
          p.dropdown-common-value__collapsible-item-title= elem.title
          .dropdown-common-value__button-group
            button.dropdown-common-value__button-counter 2
            span.dropdown-common-value__count-value
            button.dropdown-common-value__button-counter 1