@use '../../styles/main' as *;

.dropdown-common-value {
  width: 100%;
  border: 1px solid $color-font-a25;
  border-radius: 0.286em;

  &:focus,
  &:hover {
    border: 1px solid $color-font-a50;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
  }

  &__text {
    display: inline-block;
    padding: 0.786em 1em 0.5em;
    font: 1rem/1.71 $main-font-family;
  }

  &__arrow {
    display : flex;
    align-items : center;
    justify-content: center;
    flex-basis: 16.3%;
    max-width: 44px;
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: center;
    font: 1.714rem 'Material Icons';
  }

  &__collapsible-content {
    margin: 0;
    padding: 0.429em 0.5em 1.357em 1.071em;
    width: 93.13%;
    border-top: 1px solid $color-font-a25;
  }

  &__collapsible-item {
    list-style-type: none;
    display: flex;
    gap: 10.25em;
    margin-bottom: 0.583em;
  }

  &__collapsible-item-title {
    margin: 0;
    @include font-h3;
    text-transform: uppercase;
  }

  &__count-value {
    @include font-h3;
    text-transform: uppercase;
  }
}  