mixin pallete(colorItems = [])
	.pallete
		ul.pallete__list
			each colorItem in colorItems
				li.pallete__item
					.pallete__preview
					.pallete__block
						p.pallete__color-name= colorItem.colorName
						p.pallete__color-description= colorItem.colorDesc
					

