@import '../../styles/vars.scss';

.pallete {
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		margin: 0;
		padding: 0;
	}

	&__preview {
		background-color: $dark-blue;
		min-width: 25%;
	}

	&__item {
		display: flex;
		column-gap: 40px;
	}

	&__color-name {
		margin: 0;
	}

	&__color-description {
		margin: 0;
	}
}