@use '../../styles/main.scss' as *;

@mixin bg-color($color) {
	background-color: $color;
}

.pallete {
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 1.43em;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: flex;
		column-gap: 2.8em;
		&:nth-child(1) {
			.pallete__preview {
				@include bg-color($dark-blue);
			}
		}
		&:nth-child(2) {
			.pallete__preview {
				@include bg-color($dark-blue-a75);
			}
		}		
		&:nth-child(3) {
			.pallete__preview {
				@include bg-color($dark-blue-a50);
			}
		}	
		&:nth-child(4) {
			.pallete__preview {
				@include bg-color($dark-blue-a25);
			}
		}	
		&:nth-child(5) {
			.pallete__preview {
				@include bg-color($dark-blue-a5);
			}
		}	
		&:nth-child(6) {
			.pallete__preview {
				@include bg-color($purple);
			}
		}	
		&:nth-child(7) {
			.pallete__preview {
				@include bg-color($green);
			}
		}	
	}

	&__preview {
		min-width: 5em;
		border-radius: 0.42em;
	}

	&__block {
		display: flex;
		flex-direction: column;
		margin: 0.368em 0;
		min-width: 9em;
		font-family: $mainFont;
		font-size: 1.357rem;
		line-height: 1.474;
	}

	&__color-name {
		margin: 0;
		font-weight: bold;
	}

	&__color-description {
		margin: 0;
		text-transform: uppercase;
	}
}