mixin pallete(colorName, colorDesc)
	.pallete
		ul.pallete__list
			li.pallete__item
				.pallete__block
					p.pallete__color-name= colorName
					p.pallete__color-description= colorDesc
				.pallete__preview