extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/title-input/title-input
include ../../components/desc-state-input/desc-state-input
include ../../components/text-field/text-field
include ../../components/dropdown-common-value/dropdown-common-value
include ../../components/masked-text-field/masked-text-field

block variables
  title Form elements

block content
  main.form-elements
    .form-elements__logo-link
      +logo({typeLogo: "logoColorless"})
    .form-elements__grid
      .form-elements__grid-wrap-left
        .form-elements__text-field-heading
          .form-elements__title-input(
            class= "form-elements__title-input_padding_top")
            +title-input("text field")
          .form-elements__desc-state-input(
            class= "form-elements__desc-state-input_padding_bottom"
          ) 
            +desc-state-input("default")
        .form-elements__text-field 
          +text-field({
            type: "email",
            name: "email",
            placeholder: "Email",
          })
        .form-elements__text-field-heading 
          .form-elements__title-input
            +title-input("text field")
          .form-elements__desc-state-input 
            +desc-state-input("hover / focus")
        .form-elements__text-field 
          +text-field({
            type: "text",
            name: "text",
            placeholder: "This is pretty awesome",
            focused: true
          })
        .form-elements__text-field-heading   
          .form-elements__title-input
            +title-input("dropdown")  
        .form-elements__dropdown-common-value 
          +dropdown-common-value({
            params: {open: false},
            elements: [
              {title: "Взрослые"},
              {title: "Дети"},
              {title: "Младенцы"},
            ]
          })
        .form-elements__text-field-heading   
          .form-elements__title-input
            +title-input("masked text field") 
        .form-elements__masked-text-field 
          +text-field({
            type: "text",
            name: "dateOfBirth",
            placeholder: "ДД.ММ.ГГГГ",
            masked: true
          })
        .form-elements__text-field-heading   
          .form-elements__title-input
            +title-input("subscription text field")    
        .form-elements__text-field_subscribe
          +text-field({
            type: "text",
            name: "email",
            placeholder: "Email",
            withArrowButton: true
          })
      .form-elements__grid-wrap-center
      .form-elements__grid-wrap-right

