extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/title-component/title-component
include ../../components/desc-state/desc-state
include ../../components/text-field/text-field
include ../../components/dropdown-common-value/dropdown-common-value

include ../../components/checkbox-list/checkbox-list
include ../../components/benefit/benefit

include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/rate/rate

include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/bullet/bullet
include ../../components/testimonial/testimonial

block variables
  title Form elements

block content
  main.form-elements
    .form-elements__logo-link
      +logo({typeLogo: "logoColorless"})
    .form-elements__grid
      .form-elements__grid-wrap-left
        .form-elements__text-field-heading
          .form-elements__title-component.form-elements__title-component_without-margin-bottom(
            class= "form-elements__title-component_padding_top")
            +title-component("text field")
          .form-elements__desc-state(
            class= "form-elements__desc-state_padding_bottom"
          ) 
            +desc-state("default")
        .form-elements__text-field 
          +text-field({
            type: "email",
            name: "email",
            placeholder: "Email",
          })
        .form-elements__text-field-heading 
          .form-elements__title-component.form-elements__title-component_without-margin-bottom
            +title-component("text field")
          .form-elements__desc-state
            +desc-state("hover / focus")
        .form-elements__text-field 
          +text-field({
            type: "text",
            name: "text",
            placeholder: "This is pretty awesome",
            focused: true
          })  
        .form-elements__title-component.form-elements__title-component_dropdown
          +title-component("dropdown")  
        .form-elements__dropdown-common-value 
          +dropdown-common-value({
            params: {open: false},
            elements: [
              {title: "Взрослые"},
              {title: "Дети"},
              {title: "Младенцы"},
            ]
          })  
        .form-elements__title-component_text-field
          +title-component("masked text field") 
        .form-elements__masked-text-field 
          +text-field({
            type: "text",
            name: "dateOfBirth",
            placeholder: "ДД.ММ.ГГГГ",
            masked: true
          }) 
        .form-elements__title-component.form-elements__title-component_text-field
            +title-component("subscription text field")    
        .form-elements__text-field.form-elements__text-field_subscribe
          +text-field({
            type: "text",
            name: "email",
            placeholder: "Email",
            withArrowButton: true
          })
        .form-elements__checkbox-list.form-elements__checkbox-list_closed
          +checkbox-list({
            open: false,
            title: "expandable checkbox list",
          })
        .form-elements__checkbox-list
          +checkbox-list({
            open: true,
            title: "expandable checkbox list",
          })
        .form-elements__benefit
          +benefit({
            benefitIcon: "insert_emoticon",
            title: "Комфорт",
            text: "Шумопоглощающие стены"
          })
        .form-elements__benefit
          +benefit({
            benefitIcon: "location_city",
            title: "Удобство",
            text: "Окно в каждой из спален"
          })  
      .form-elements__grid-wrap-center  
        .form-elements__title-component
            +title-component("checkbox buttons")
        .form-elements__checkbox-group    
          +checkbox({
            text: "Можно курить",
            checked: false,
          })
          +checkbox({
            text: "Можно с питомцами",
            checked: true,
          })
          +checkbox({
            text: "Можно пригласить гостей (до 10 человек)",
            checked: true,
          }) 
        .form-elements__title-component
          +title-component("radio buttons")
        .form-elements__radio-group
          .form-elements__radio
            +radio({
              text: "Мужчина",
              checked: true,
            })
          .form-elements__radio
            +radio({
              text: "Женщина",
              checked: false,
            })
        .form-elements__title-component
          +title-component("toggle")
        .form-elements__toggle
          +toggle({
            text: "Получать спецпредложения",
            checked: true,
          })    
          +toggle({
            text: "Получать спецпредложения",
            checked: false,
          })
        .form-elements__title-component
          +title-component("like button")
        .form-elements__like-button-group
          +like-button({
            count: 2,
            isActive: false,
          })
          +like-button({
            count: 12,
            isActive: true,
          })
        .form-elements__title-component
          +title-component("rate button") 
        .form-elements__rate-group
          +rate({
            rating: 2,
          })
          +rate({
            rating: 1,
          })  
        .form-elements__title-component
          +title-component("rich checkbox buttons")
        .form-elements__rich-checkbox-group
          +checkbox({
            text: "Ширина коридоров в номере не менее 91 см.",
            checked: false,
            rich: true,
            title: "Широкий коридор",
            textBoxSizeSmall: true,
          })
          +checkbox({
            text: "На 1 этаже вас встретит специалист  и проводит до номера.",
            checked: false,
            rich: true,
            title: "Помощник для инвалидов"
          })
      .form-elements__grid-wrap-right
        .form-elements__range-slider 
          +range-slider({
            titleText: "range slider",
          })
        .form-elements__title-component
          +title-component("buttons")
        .form-elements__button-group.form-elements__button-group_default
          +button({
            type: "button",
            text: "click me",
          })
          +button({
            type: "button",
            text: "click me",
            isHovered: true,
          })
        .form-elements__button-group.form-elements__button-group_with-border
          +button({
            type: "button",
            text: "click me",
            withBorder: true,
          })
          +button({
            type: "button",
            text: "click me",
            withBorder: true,
            isHovered: true,
          })
        .form-elements__button-group.form-elements__button-group_border-less
          +button({
            type: "button",
            text: "click me",
            borderLess: true,
          })
          +button({
            type: "button",
            text: "click me",
            borderLess: true,
            borderLessHovered: true,
          }) 
        .form-elements__button
          +button({
            type: "button",
            text: "перейти к оплате",
            withArrow: true,
            paymentGo: true,
          })
        .form-elements__title-component
          +title-component("pagination")
        .form-elements__pagination
          +pagination({
            currentPage: 1, 
            totalVisibleItems: 12, 
            totalPages: 15
          })
        .form-elements__title-component
          +title-component("bullet list")
        .form-elements__bullet 
          +bullet("Нельзя с питомцами")
          +bullet("Без вечеринок и мероприятий")
          +bullet("Время прибытия — после 13:00, а выезд до 12:00")
      .form-elements__testimonial
        +testimonial({
          avatar: require("../../components/testimonial/images/murad.jpg"),
          altImg: "Мурад Сарафанов",
          fullName: "Мурад Сарафанов",
          writingTime: "5 дней назад",
          desc: "Великолепный матрас на кровати в основной спальне!\
                А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.\
                Выкрикивал комплименты повару — никто не жаловался из соседей."
        })  

