doctype html
html(lang="en")
	body 
		.container 
			h1 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Моей строчка над точках маленький ты сбить рыбного назад запятой?