extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/text-field/text-field

block variables
  title Form elements

block content
  main.form-elements
    .form-elements__logo-link
      +logo({typeLogo: "logoColorless"}) 
    .form-elements__text-field 
      +text-field({
        titleText: "text field",
        type: "text",
        name: "email",
        placeholder: "Email",
      })
