@use '../../styles/main' as *;

.form-elements {
  margin: 0 auto;
  padding: 2.08%;
  width: 100%;
  max-width: 1440px;

  &__grid{
    display: grid;
    grid:
    "left . center . right" 1fr
    / 27.63% 10.88% 27.63% 6.22% 27.63%;
    margin: 4.429em 7.929em 7.214em;
  }

  &__grid-wrap-left {
    grid-area: left;
  }

  &__text-field-heading {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 0.357em;
  }

  &__title-input {
    &_padding_top {
      padding-top: 0.214em;
    }
  }

  &__desc-state-input {
    &__padding_bottom {
      padding-bottom: 0.214em;
    }
  }

  &__text-field {
    margin-bottom: 1.429em;
  }

  &__grid-wrap-center {
    grid-area: center; 
  }
  
  &__grid-wrap-right {
    grid-area: right;
  }
}


