@use '../../styles/main' as *;

.form-elements {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2.08%;

  &__grid {
    display: grid;
    grid:
      'left . center . right' 1fr
      / 27.63% 10.88% 27.63% 6.22% 27.63%;
    margin: 4.429em 7.929em 7.214em;
  }

  &__grid-wrap-left {
    grid-area: left;
  }

  &__text-field-heading {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 0.357em;
  }

  &__title-input {
    margin-bottom: 1.143em;

    &_without-margin-bottom {
      margin-bottom: 0;
    }

    &_text-field {
      margin-bottom: 0.357em;
    }

    &_dropdown {
      margin-bottom: 0.357em;
    }

    &_padding_top {
      padding-top: 0.214em;
    }
  }

  &__desc-state-input {
    &__padding_bottom {
      padding-bottom: 0.214em;
    }
  }

  &__text-field {
    margin-bottom: 1.429em;

    &_subscribe {
      max-width: 83.44%;
    }
  }

  &__dropdown-common-value {
    margin-bottom: 1.607em;
  }

  &__masked-text-field {
    margin-bottom: 1.429em;
  }

  &__grid-wrap-center {
    grid-area: center;
    padding-top: 3px;
  }

  &__checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 2.92em;
  }

  &__radio-group {
    display: flex;
    gap: 1.429em;
    margin-bottom: 2.611em;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    gap: 0.714em;
    margin-bottom: 2.889em;
  }

  &__like-button {
    display: flex;
    gap: 0.714em;
  }

  &__grid-wrap-right {
    grid-area: right;
  }

  &__bullet {
    display: flex;
    flex-direction: column;
    gap: 0.714em;
  }
}
