@use '../../styles/main' as *;

.form-elements {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2.08%;

  &__grid {
    display: grid;
    grid:
      'left . center . right' 1fr
      'left . testimonial testimonial testimonial'
      / 27.63% 10.88% 27.63% 6.22% 27.63%;
    padding: 4.071em 7.929em 7.214em;
  }

  &__grid-wrap-left {
    grid-area: left;
  }

  &__text-field-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.357em;

    &_for-dropdown {
      max-width: 19em;
    }
  }

  &__title-component {
    margin-bottom: 1.143em;

    &_without-margin-bottom {
      margin-bottom: 0;
    }

    &_text-field {
      margin-bottom: 0.357em;
    }

    &_dropdown {
      margin-bottom: 0.357em;
    }

    &_padding_top {
      padding-top: 0.214em;
    }
  }

  &__desc-state {
    &__padding_bottom {
      padding-bottom: 0.214em;
    }
  }

  &__text-field {
    margin-bottom: 1.357em;

    &_subscribe {
      max-width: 83.44%;
      margin-bottom: 6.929em;
    }
  }

  &__dropdown {
    margin-bottom: 1.714em;

    &_with-value-open {
      margin-bottom: 257px;
    }

    &_empty-value-open {
      margin-bottom: 257px;
    }

    &_with-separate-value {
      margin-bottom: 160px;

      &_default {
        margin-bottom: 1.214em;
      }
    }
  }

  &__masked-text-field {
    margin-bottom: 2.786em;
  }

  &__date-date-dropdown {
    margin-bottom: 2.857em;
  }

  &__filter-date-dropdown {
    margin-bottom: 3.071em;
  }

  &__checkbox-list {
    margin-bottom: 100px;

    &_closed {
      margin-bottom: 1.429em;
    }
  }

  &__benefit {
    margin-bottom: 1.214em;
  }

  &__grid-wrap-center {
    grid-area: center;
    padding-top: 3px;
  }

  &__checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 2.92em;
  }

  &__radio-group {
    display: flex;
    gap: 1.429em;
    margin-bottom: 2.929em;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    gap: 0.714em;
    margin-bottom: 2.889em;
  }

  &__like-button-group {
    display: flex;
    gap: 0.714em;
    margin-bottom: 2.857em;
  }

  &__rate-group {
    display: flex;
    gap: 1.429em;
    margin-bottom: 14.071em;
  }

  &__rich-checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__grid-wrap-right {
    grid-area: right;
  }

  &__range-slider {
    margin-bottom: 3.143em;
    padding-top: 0.214em;
  }

  &__button-group {
    display: flex;

    &_default {
      gap: 19px;
      margin-bottom: 30px;
    }

    &_with-border {
      gap: 20px;
      margin-bottom: 31px;
    }

    &_border-less {
      gap: 20px;
      margin-bottom: 30px;
    }
  }

  &__button {
    margin-bottom: 40px;
  }

  &__pagination {
    margin-bottom: 16.929em;
  }

  &__bullet {
    display: flex;
    flex-direction: column;
    gap: 0.714em;
  }

  &__testimonial {
    grid-area: testimonial;
    margin-bottom: 2.286em;
  }
}
