extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/title-input/title-input
include ../../components/desc-state-input/desc-state-input
include ../../components/text-field/text-field

block variables
  title Form elements

block content
  main.form-elements
    .form-elements__logo-link
      +logo({typeLogo: "logoColorless"})
    .form-elements__grid
      .form-elements__grid-wrap-left
        .form-elements__text-field-heading(
          class= "form-elements__text-field-heading_margin_bottom")
          .form-elements__title-input(
            class= "form-elements__title-input_padding_top"
          )
            +title-input("text field")
          .form-elements__desc-state-input 
            +desc-state-input({
              text: "default",
              withPadding: true
            })
        .form-elements__text-field 
          +text-field({
            type: "email",
            name: "email",
            placeholder: "Email",
          })
        .form-elements__text-field-heading 
          .form-elements__title-input
            +title-input("text field")
          .form-elements__desc-state-input 
            +desc-state-input({
              text: "hover / focus",
              withPadding: true
            })
        .form-elements__text-field 
          +text-field({
            type: "text",
            name: "text",
            placeholder: "This is pretty awesome",
            focused: true
          })
      .form-elements__grid-wrap-center
      .form-elements__grid-wrap-right

