@font-face {
  font-weight: normal;
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('../assets/fonts/montserrat-regular.woff2') format('woff2'),
    url('../assets/fonts/montserrat-regular.woff') format('woff'),
    url('../assets/fonts/montserrat-regular.ttf') format('truetype'),
    url('../assets/fonts/montserrat-regular.svg') format('svg');
}

@font-face {
  font-weight: bold;
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Bold'),
    url('../assets/fonts/montserrat-bold.woff2') format('woff2'),
    url('../assets/fonts/montserrat-bold.woff') format('woff'),
    url('../assets/fonts/montserrat-bold.ttf') format('truetype'),
    url('../assets/fonts/montserrat-bold.svg') format('svg');
}
