@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Regular'),
    url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), 
    url("../assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../assets/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Bold'),
    url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), 
    url("../assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("../assets/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../assets/fonts/Montserrat-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
