@use './vars' as *;

@mixin font-h1 {
  color: $color-font-a100;
  font: bold 1.714rem/1.208 $main-font-family;
}

@mixin font-h2 {
  color: $color-font-a100;
  font: bold 1.357rem/1.21 $main-font-family;
}

@mixin font-h3 {
  color: $color-font-a100;
  font: bold 0.857rem/1.25 $main-font-family;
}

@mixin font-body {
  color: $color-font-a75;
  font: 1rem/1.71 $main-font-family;
}

@mixin font-link {
  color: $color-font-a50;
  font: 1rem/1.22 $main-font-family;
}
