$color-font-a100: #1f2041;

@function tint($dark-blue, $percentage) {
  @return mix(white, $dark-blue, $percentage);
}
$color-font-a75: tint($color-font-a100, 25%);
$color-font-a50: tint($color-font-a100, 50%);
$color-font-a25: tint($color-font-a100, 75%);
$color-font-a5: tint($color-font-a100, 95%);

$color-primary-bg: #bc9cff;
$color-secondary-bg: #6fcf97;

$main-font-family: Montserrat, Arial, sans-serif;