$color-font-a100: #1f2041;

@function tint($dark-blue, $percentage) {
  @return mix(white, $dark-blue, $percentage);
}
$color-font-a75: tint($color-font-a100, 25%);
$color-font-a50: tint($color-font-a100, 50%);
$color-font-a25: tint($color-font-a100, 75%);
$color-font-a10: tint($color-font-a100, 90%);
$color-font-a5: tint($color-font-a100, 95%);

$color-primary-bg: #bc9cff;
$color-secondary-bg: #6fcf97;
$color-third-bg: #fff;

$border-primary: #fff;

$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$secondary-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

$main-font-family: Montserrat, arial, sans-serif;

$color-shadow-primary: rgba(31, 32, 65, 10%);
