$color-font-a100: #1f2041;

@function tint($dark-blue, $percentage) {
  @return mix(white, $dark-blue, $percentage);
}
$color-font-a75: tint($color-font-a100, 25%);
$color-font-a50: tint($color-font-a100, 50%);
$color-font-a25: tint($color-font-a100, 75%);
$color-font-a10: tint($color-font-a100, 90%);
$color-font-a5: tint($color-font-a100, 95%);
$color-font-dark: #000;

$color-primary-bg: #bc9cff;
$color-secondary-bg: #6fcf97;
$color-third-bg: #fff;

$border-primary: #fff;
$body-bg-color: #f4f4f6;

$primary-gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$secondary-gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$shadow-gradient: linear-gradient(
  90deg,
  rgba(0, 0, 0, 50%) 0%,
  rgba(0, 0, 0, 0%) 99.99%,
  rgba(255, 255, 255, 0%) 100%
);

$magnificentlyReviewGradient: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$goodReviewGradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$satisfactorilyReviewGradient: linear-gradient(
  180deg,
  #bc9cff 0%,
  #8ba4f9 100%
);
$badReviewGradient: linear-gradient(180deg, #919191 0%, #3d4975 100%);

$main-font-family: montserrat, arial, sans-serif;

$shadow-avatar: 0 10px 20px rgba(31, 32, 65, 10%);
$shadow-header-footer: 0 10px 20px rgba(31, 32, 65, 5%);
$shadow-card: 0 0 25px rgba(0, 0, 0, 20%);
$shadow-calendar: 0 10px 20px rgba(31, 32, 65, 5%);
