mixin rate(params = {})
  -
    const {
      rating= "",
    } = params;
    let i = 0;


  .rate
    ul.rate__list(class = "js-rate__list")
      while i < 5
        if (i < rating)
          li.rate__item(class= "js-rate__item rate__item_active")
        else
          li.rate__item(class= "js-rate__item")
        - i++ 
