mixin typography(typographyItems)
  -
    typographyItems = [
      { tag: "H1", 
        text: "This one is the sub-section or widget title", 
        modSize: "large" 
      },
      { tag: "H2",
        text: "Next one is the item title inside widgets", 
        modSize: "medium" 
      }, 
      { tag: "H3", 
        text: "This is a label or CTA text", 
        modSize: "small"
      }, 
      { tag: "Body", 
        text: "This is the body text which is used for most of the design, like paragraphs, lists, etc.", 
        modSize: "tiny" 
      } 
    ];

  .typography 
    ul.typography__list
      each typographyItem in typographyItems
        li.typography__item 
          p.typography__tag(class=`typography__tag_${typographyItem.modSize}`)= typographyItem.tag
          p.typography__text(class=`typography__text_${typographyItem.modSize}`)= typographyItem.text
