mixin logo({typeLogo = "colorless"})
	case typeLogo
		when "colorless"
			a(class = "logo-link" href= "./start-page.html") 
				img(class = "logo-link__img-logo-ui-kit" src = "./assets/images/logo-ui-kit.svg", alt = "Логотип Toxin", width="48", height="48")
		when "withText" 
			a(class = "logo-link" href= "./start-page.html") 
				img(class = "logo-link__img-logo-toxin" src = "./assets/images/logo-toxin.svg", alt = "Логотип Toxin", width="106", height="40")