@use '../../styles/main' as *;

.checkbox-list {
  width: 100%;
  max-width: 19em;

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
  }

  &__title {
    padding: 1.167em 2.5em 1.25em 0;
    text-transform: uppercase;
    @include font-h3;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 16.3%;
    max-width: 44px;
    padding: 0;
    text-align: center;

    &::before {
      content: '\e5cf';
      font: 1.714rem 'Material Icons';
    }
  }

  &__checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.714em;
    padding-top: 0.174em;
  }

  &[open] .checkbox-list__arrow::before {
    content: '\e5ce';
  }

}