@use '../../styles/main' as *;

.checkbox-list {
  width: 100%;
  max-width: 19em;

  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }

  &__title {
    padding: 1.167em 2.5em 1.25em 0;
    text-transform: uppercase;
    @include font-h3;
  }

  &__arrow {
    display: flex;
    flex-basis: 16.3%;
    align-items: center;
    justify-content: center;
    max-width: 44px;
    padding: 0;
    text-align: center;

    &::before {
      font: 1.714rem 'Material Icons', sans-serif;
      content: '\e5cf';
    }
  }

  &__checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.714em;
    margin: 0;
    padding: 0.174em 0 0 0;
  }

  &__item {
    list-style-type: none;
  }

  &[open] .checkbox-list__arrow::before {
    content: '\e5ce';
  }
}
