include ../../components/checkbox/checkbox

mixin checkbox-list(params = {})
  -
    const {
      open= false,
      title= "",
      listItems = [],
    } = params 

  details.checkbox-list(open= open)
    summary.checkbox-list__field
      span.checkbox-list__title= title
      span.checkbox-list__arrow 
    ul.checkbox-list__checkbox-group
      each item in listItems
        li.checkbox-list__item
          +checkbox({
            text: item.text,
            checked: item.checked
          })

