mixin nav-menu-item(params = {})
  -
    const {
      navItemName = "",
      href = "",
      withDropdown = false,
    } = params;
  
  if withDropdown
    .nav-menu-item
      details.nav-menu-item__details(title= navItemName)
        summary.nav-menu-item__summary
          span.nav-menu-item__title= navItemName
          span.nav-menu-item__arrow
        .nav-menu-item__dropdown
  else
    .nav-menu-item
      a.nav-menu-item__link(href= href, title= navItemName)= navItemName