mixin calendar(params = {})
  -
    const {
      blockIsDiv= false,
      readonly= true,
      placeholder= "",
    } = params;

    const inputAttributes = {
      readonly: readonly,
      placeholder: placeholder,
    }

  .calendar
    if blockIsDiv
      .calendar__wrap(class= "js-calendar__wrap")
    else
      label.calendar__label
        input.calendar__input(class= "js-calendar__input")&attributes(inputAttributes)
        .calendar__button