mixin donut-chart
  .donut-chart
    canvas.donut-chart__diagram.js-donut-chart__diagram
    //- .donut-chart__total-value-block
    //-   .donut-chart__total-value 260
    //-   .donut-chart__total-value-text голосов