@use '../../styles/main' as *;

.page-header {
  width: 100%;
  max-width: 1920px;
  background-color: $color-third-bg;
  box-shadow: $shadow-header-footer;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.929em 1.429em;
  }

  &__hamburger-checkbox {
    display: none;

    &:checked ~ .page-header__nav-group {
      @media screen and (max-width: 991px) {
        display: flex;
        justify-content: center;
        max-height: 100%;
        padding: 1em 1.429em;
        transition: all 0.5s;
      }

      @media screen and (max-width: 600px) {
        z-index: 10000;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 25.714em;
      }
    }

    &:checked ~ .page-header__hamburger .page-header__hamburger-icon::before {
      content: '\e5cd';
    }
  }

  &__hamburger {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  &__hamburger-icon {
    display: inline-block;
    color: $color-primary-bg;
    font: 3.5rem 'Material Icons', sans-serif;

    &::before {
      content: '\e5d2';
    }
  }

  &__nav-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.429em;
    align-items: center;

    @media screen and (max-width: 991px) {
      position: absolute;
      right: 0;
      left: 0;
      max-height: 0;
      margin-top: 0.714em;
      overflow: hidden;
      text-align: center;
      background-color: $color-third-bg;
    }
  }

  &__user-panel {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.143em;
    border-left: 1px solid $color-font-a10;
  }

  &__user-link {
    display: inline-block;
    @include font-link;

    text-align: center;
    text-decoration: none;
    outline: none;

    &:focus,
    &:hover {
      color: $color-font-a75;
      font-weight: bold;
    }

    &:visited {
      color: $color-primary-bg;
    }

    &::after {
      display: block;
      height: 0;
      overflow: hidden;
      font-weight: bold;
      visibility: hidden;
      content: attr(title);
    }
  }
}
