include ../../components/calendar/calendar

mixin filter-date-dropdown(params = {})
  - 
    const {
      placeholder= "",
    } = params;

  .filter-date-dropdown
    +calendar({placeholder: placeholder})


