@use '../../styles/main.scss' as *;

.type {
	&__list {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		min-width: 31.143em;
	}

	&__item {
		display: flex;
		column-gap: 2.143em;
	}

	&__tag {
		min-width: 2.643em;
		text-align: right;
	}

	&__text {

	}
}	