@use '../../styles/main.scss' as *;

.type {
	&__list {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		min-width: 31.143em;
	}

	&__item {
		display: flex;
		column-gap: 2.143em;
	}

	&__tag {
		min-width: 2.643em;
		font: {
			family: $mainFont;
			size: 1.357rem;
		}
		text-align: right;
		color: $dark-blue-a25;
	}

	&__text {
		font: {
			family: $mainFont;
			weight: 700;
		}
	}
}	