@use '../../styles/main' as *;

.checkbox {
  display: flex;
  gap: 0.714em;
  width: 100%;
  max-width: 15.857em;
  color: $color-font-a50;
  font: 1rem $main-font-family;
  line-height: 1.28;
  cursor: pointer;
}

.checkbox__input {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  border: 1px solid $color-font-a25;
  border-radius: 0.286em;
  outline: none;

  &::before {
    content: "";
    width: 10px;
    height: 8px;
    clip-path: polygon(19% 21.3%, 48.6% 60.3%, 84.8% 12.5%, 100% 27%, 48.9% 98.3%, 2.5% 40.5%);
    transition: 120ms transform ease-in-out;
    transform: scale(0);
    transform-origin: bottom left;
    background-image: $primary-gradient;
  }

  &:focus,
  &:hover,
  &:checked {
    border: 1px solid $color-primary-bg;
    cursor: pointer;
  }

  &:checked::before {
    transform: scale(1);
  }
}

