extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/pallete/pallete


block variables 
	- var title = 'Colors and type';

block content
	section.colors-and-type
		.colors-and-type__logo-link
			+logo({typeLogo: "logoColorless"})
		.contt
			+pallete('Dark Shade 100%', '#1f2041')
			+pallete('Dark Shade 750%', '#1f2041')
			+pallete('Dark Shade 50%', '#1f2041')
			+pallete('Dark Shade 25%', '#1f2041')
			+pallete('Dark Shade 5%', '#1f2041')
			+pallete('Purple', '#bc9cff')
			+pallete('Green', '#6fcf97')


