extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/pallete/pallete

block variables 
	- const title = 'Colors and type';

block content
	section.colors-and-type
		.colors-and-type__logo-link
			+logo({typeLogo: "logoColorless"})
		.colors-and-type__pallete
			.pallete
				ul.pallete__list
					each colorCard in colorCards
						+pallete(colorCard.colorName, colorCard.colorDesc)
	

