extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/pallete/pallete


block variables 
	- var title = 'Colors and type';

block content
	section.colors-and-type
		.colors-and-type__logo-link
			+logo({typeLogo: "logoColorless"})
		.colors-and-type__pallete
			+pallete([
				{ colorName: 'Dark Shade 100%', colorDesc: '#1f2041' }, 
				{ colorName: 'Dark Shade 75%', colorDesc: '#1f2041' },
				{ colorName: 'Dark Shade 50%', colorDesc: '#1f2041' }, 
				{ colorName: 'Dark Shade 25%', colorDesc: '#1f2041' }, 
				{ colorName: 'Dark Shade 5%', colorDesc: '#1f2041' }, 
				{ colorName: 'Purple', colorDesc: '#bc9cff' }, 
				{ colorName: 'Green', colorDesc: '#6fcf97' },
			])


