p {
	color: brown;
	font-size: 60px;
}

.container {
	width: 1730px;
	height: 1730px;
	background-image: url('../../assets/images/arrow.svg');
	background-size: auto;
}

img {
	width: 100%;
	height: auto;
	display: block;
}