.colors-and-type {
  display: grid;
  grid-template-columns: 48px 72px 281px 415px 436px 128px;
  grid-template-rows: 48px 67px 321px 289px;
  grid-auto-flow: column;
  grid-template-areas:
    'logo . . . . .'
    '. . . . . .'
    '. . pallete . typography .'
    '. . pallete . . .';
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;

  &__logo-link {
    grid-area: logo;
  }

  &__pallete {
    grid-area: pallete;
    padding-bottom: 115px;
  }

  &__typography {
    grid-area: typography;
  }
}
