extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/pallete/pallete
include ../../components/typography/typography

block variables
  title Colors and type

block content
  main.colors-and-type
    .colors-and-type__logo
      +logo({
        typeLogo: 'logoColorless',
        srcImg: '../../components/logo/images/logo-ui-kit.svg',
      })
    .colors-and-type__pallete
      +pallete(colorItems)
    .colors-and-type__typography
      +typography(typographyItems)
