extends ../../layouts/ui-kit-layout/ui-kit-layout

include ../../components/logo/logo
include ../../components/pallete/pallete


block variables 
	- var title = 'Colors and type';

block content
	section.colors-and-type
		.colors-and-type__logo-link
			+logo({typeLogo: "logoColorless"})
		.page-content
			each card in cards
				+card(card.title, card.copy, card.button)