extends ../../layout/ui-kit-layout

include ../../components/header-ui-kit/header-ui-kit

block variables 
	- var title = 'Colors and type';

block header
	+header-ui-kit
	//.container 
	//p Hello
	//img(src="./assets/images/adidas.png", alt="")
	//p Hello people
	//p Hi hi hi
	//h1 Head title
	

