extends ../../templates/head.pug

block title 
	title Colors and type

block content

block scripts
	//.container 
		p Hello
	//img(src="./assets/images/adidas.png", alt="")
	//p Hello people
	//p Hi hi hi
	//h1 Head title