extends ../../layout/ui-kit-layout

include ../../components/logo/logo

block variables 
	- var title = 'Colors and type';

block content
	section.colors-and-type
		.colors-and-type__logo
			+logo
	//.container 
	//p Hello
	//img(src="./assets/images/adidas.png", alt="")
	//p Hello people
	//p Hi hi hi
	//h1 Head title
	

