doctype html
html(lang="en")
	head 
		meta(charset='utf-8')
		title Colors and Type
	body 
		.container 
			p Hello
		img(src="./assets/images/adidas.png", alt="")
		p Hello people
		p Hi hi hi
		h1 Head title