.colors-and-type {
  display: grid;
  grid-template-columns: 3.33% 5% 19.51% 28.81% 30.27% 8.88%;
  grid-template-rows: 3.33% 4.65% 22.29% 20.06%;
  grid-auto-flow: column;
  grid-template-areas:
    "logo . . . . ."
    ". . . . . ."
    ". . pallete . typography ."
    ". . pallete . . .";
  max-width: 100%;
  margin: 0 auto;
  padding: 2.08%;

  &__logo-link {
    grid-area: logo;
  }
  
  &__pallete { 
    grid-area: pallete;
    padding-bottom: 115px;
  }

  &__typography { 
    grid-area: typography; 
  }
}




