@use '../../styles/main' as *;

.page-footer {
  width: 100%;
  max-width: 1920px;
  background-color: $color-third-bg;
  border-bottom: 1px solid $body-bg-color;
  box-shadow: $shadow-header-footer;

  &__container {
    border-bottom: 1px solid $body-bg-color;
  }

  &__content {
    display: grid;
    grid:
      'desc nav subs'
      / 22.41% 1fr 22.41%;
    gap: 40px;
    max-width: 1160px;
    margin: 0 auto;
    padding: 7.143em 0;
  }

  &__desc {
    grid-area: desc;
    max-width: 18.571em;
    @include font-body;
  }

  &__logo {
    margin-bottom: 1.286em;
  }

  &__text {
    margin: 0;
    @include font-body;
  }

  &__navigation-list {
    display: flex;
    grid-area: nav;
    gap: 2.857em;
    max-width: 40em;
  }

  &__subs {
    grid-area: subs;
  }

  &__subs-title {
    margin: 0 0 1.583em;
    padding-top: 0.333em;
    @include font-h3;

    text-transform: uppercase;
  }

  &__subs-input {
    margin-top: 1.571em;
  }

  &__copyrights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding: 1.643em 0;
  }

  &__copyright-text {
    margin: 0;
    color: $color-font-a75;
    font: 1rem/1.22 $main-font-family;
  }

  &__social-links {
    display: flex;
    gap: 1.571em;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
  }

  &__link {
    width: 30px;
  }
}
