@use '../../styles/main' as *;

.page-footer {
  width: 100%;
  max-width: 1920px;
  background-color: $color-third-bg;
  border-bottom: 1px solid $body-bg-color;
  box-shadow: $shadow-header-footer;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &__container {
    border-bottom: 1px solid $body-bg-color;
  }

  &__content {
    display: grid;
    grid:
      'desc nav subs'
      / 22.5% 48.5% 22.5%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 7.143em 1.429em;

    @media screen and (max-width: 1000px) {
      grid:
      'desc'
      'nav' 
      'subs'
      / 1fr;
      justify-items: center;
      gap: 30px;
      padding: 1.429em;
    }
  }

  &__desc {
    grid-area: desc;
    max-width: 18.571em;
    @include font-body;

    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }
  }

  &__logo {
    margin-bottom: 1.286em;
  }

  &__text {
    margin: 0;
    @include font-body;

    &_desc {
      @media screen and (max-width: 1000px) {
        text-align: center;
      }
    }
  }

  &__navigation-list {
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    max-width: 40em;

    @media screen and (max-width: 1000px) {
      gap: 30px;
    }
  }

  &__subs {
    grid-area: subs;
    @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subs-title {
    margin: 0 0 1.583em;
    padding-top: 0.333em;
    @include font-h3;

    text-transform: uppercase;
  }

  &__subs-input {
    margin-top: 1.571em;
  }

  &__copyrights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding: 1.643em 0;

    @media screen and (max-width: 1200px) {
      padding: 30px;
    }
  }

  &__copyright-text {
    margin: 0;
    color: $color-font-a75;
    font: 1rem/1.22 $main-font-family;
  }

  &__social-links {
    display: flex;
    gap: 1.571em;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
  }

  &__link {
    width: 30px;
  }
}
