include ../../components/logo/logo
include ../../components/social-links/social-links

mixin page-footer-mobile(params = {})
  -
    const {
      copyrightText = "",
      footerSocialLinks,
      forUIkit = false,
    } = params;

    const forUIkitFooterMobile = forUIkit ? "page-footer-mobile_for-UI-kit" : "";

  footer.page-footer-mobile(class= `${forUIkitFooterMobile}`)
    .page-footer-mobile__container
      .page-footer-mobile__logo
        +logo({typeLogo: "logoWithText"})
      .page-footer-mobile__copyrights
        p.page-footer-mobile__copyright-text= copyrightText
        .page-footer-mobile__social-links
          +social-links({
            socialLinks: footerSocialLinks,
            })