@use '../../styles/main' as *;

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 0.714em;
  width: 100%;
  max-width: 50.786em;
  @include font-body;

  &__field {
    display: flex;

  }

  &__avatar {
    position: relative;
    flex: 0 0 48px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid $border-primary;
    border-radius: 32px;
    filter: drop-shadow(0px 10px 20px $color-shadow-primary);
  }

  &__info {
    padding: 0 0.714em;
  }

  &__full-name {
    margin: 0;
    font-weight: bold;
  }

  &__writing-time {
    margin: 0;
  }

  &__desc-and-btn {
    display: flex;
  }

  &__btn {
    padding: 0 0.286em;
  }

  &__desc {
    margin: 0;
    padding: 0 0.714em;
  }
}