@use '../../styles/main' as *;

.cards {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2.08%;
  background-color: $body-bg-color;

  &__grid {
    display: grid;
    grid:
      'left . center . right'
      / 32.76% 3.45% 32.76% 3.45% 27.59%;
    padding: 5.143em 7.857em 7.857em;
  }

  &__grid-wrap-left {
    grid-area: left;
  }

  &__card-search {
    margin-bottom: 2.929em;
  }

  &__grid-wrap-center {
    grid-area: center;
  }

  &__card-booking {
    margin-bottom: 2.857em;
  }

  &__grid-wrap-right {
    grid-area: right;
  }

  &__calendar {
    margin-bottom: 2.786em;
  }

  &__card-room-blocks {
    display: flex;
    flex-direction: column;
    gap: 2.643em;
    margin-bottom: 30px;
  }
}
