@use '../../styles/main' as *;

.start-page {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    max-width: 60em;
    margin: 0 auto;
    padding: 4em;
  }

  &__pages {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    background: $primary-gradient;
    border: 2px solid $color-secondary-bg;
    border-radius: 5px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    color: $color-font-a75;
    font: 2rem $main-font-family;
    text-decoration: none;
  }
}
