@use '../../styles/main' as *;

.text-field {
  &__input {
    width: 100%;
    max-height: 3.143em;
    max-width: 22.857em;
    padding: 0.929em 1.071em;
    color: $color-font-a75;
    font: 1rem $main-font-family;
    line-height: 1.71;
    letter-spacing: -0.3;
    border: 1px solid $color-font-a25;
    border-radius: 0.286em;
    outline: none;
    &_focused {
      padding: 0.857em 1.071em;
      border-color: $color-font-a50;

    }
    &::placeholder {
      color: $color-font-a25;
      font: 1rem $main-font-family;
      line-height: 1.28;
    }
    &:focus,
    &:hover {
      border: 1px solid $color-font-a50;
    }
  }
}