@use '../../styles/main' as *;

.text-field {
  display: block;
  position: relative;

  &__input {
    width: 100%;
    max-height: 3.143em;
    max-width: 22.857em;
    padding: 0.929em 1.071em;
    color: $color-font-a75;
    font: 1rem $main-font-family;
    line-height: 1.71;
    border: 1px solid $color-font-a25;
    border-radius: 0.286em;
    outline: none;

    &:focus,
    &:hover {
      border: 1px solid $color-font-a50;
    }

    &_focused {
      padding: 0.857em 1.071em;
      border-color: $color-font-a50;
    }

    &_subscribe {
      padding: 0.857em 3.143em 0.857em 1.071em;
    }

    &::placeholder {
      color: $color-font-a25;
      font: 1rem $main-font-family;
      line-height: 1.28;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 44px;
    min-height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}