mixin slider(params = {})
  -
    const {
      roomsImages= [],
    } = params;


  .slider
    .slider__wrapper
      .slider__items
        each roomsImage in roomsImages
          - const {src, alt} = roomsImage;
          .slider__item
            img.slider__img(src= src alt= alt)
    a.slider__control.slider__control_prev(href="#" role="button" data-slide="prev")
    a.slider__control.slider__control_next(href="#" role="button" data-slide="next")

    //- require("../../components/slider/images/room-888-1.jpg")