@use '../../styles/main' as *;

.slider {
  position: relative;
  overflow: hidden;
  max-width: 271px;
  margin-left: auto;
  margin-right: auto;

  &__wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
  }

  &__items {
    display: flex;
    transition: transform 0.5s ease;
  }

  &__item {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__control {
    position: absolute;
    top: 50%;
    width: 3em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: $shadow-gradient;
    text-decoration: none;
    user-select: none;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;

    &_prev {
      left: 0;
    }

    &_next {
      transform: translateY(-50%) scaleX(-1);
      right: 0;
    }

    &::before {
      content: '\e5cb';
      display: inline-block;
      width: 20px;
      height: 20px;
      font: 1.714rem 'Material Icons', sans-serif;
    }
  }
  
  &__indicators {
    position: absolute;
    right: 11px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
  }
  
  &__indicator {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    background-color: transparent;
    border: 1px solid $color-third-bg;
    border-radius: 50%;
    filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
    cursor: pointer;

    &_active {
      background-color: #fff;
    }
  }
}

.transition-none {
  transition: none;
}
