@use '../../styles/main' as *;

.slider {
  position: relative;
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &__wrapper {
    grid-area: 1/-1;
    overflow: hidden;
    background-color: #eee;

    &_for-card {
      border-radius: 4px 4px 0 0;
    }
  }

  &__items {
    display: flex;
    transition: transform 0.5s ease;
  }

  &__item {
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 10.929em;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__control-group {
    z-index: 1;
    display: flex;
    grid-area: 1/-1;
    justify-content: space-between;
    opacity: 0;
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 100%;
    color: #fff;
    text-decoration: none;
    background: $shadow-gradient;
    transition: opacity 0.3s ease;
    user-select: none;

    &_next {
      transform: scaleX(-1);
    }

    &::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      font: 1.714rem 'Material Icons', sans-serif;
      content: '\e5cb';
    }
  }

  &__indicators {
    z-index: 2;
    display: flex;
    grid-area: 1/-1;
    align-self: end;
    justify-content: center;
    justify-self: end;
    margin: 0;
    padding: 0 0.929em 1.071em 0;
    list-style: none;
    user-select: none;
  }

  &__indicator {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    background-color: transparent;
    border: 1px solid $color-third-bg;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0 5px 5px rgba(31, 32, 65, 30%));

    &_active {
      background-color: #fff;
    }
  }
}

.transition-none {
  transition: none;
}
