@use '../../styles/main' as *;

.slider {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border-radius: 4px 4px 0 0;

  &__wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
  }

  &__items {
    display: flex;
    transition: transform 0.5s ease;
  }

  &__item {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 100%;
    color: #fff;
    text-decoration: none;
    background: $shadow-gradient;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    user-select: none;

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
      transform: translateY(-50%) scaleX(-1);
    }

    &::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      font: 1.714rem 'Material Icons', sans-serif;
      content: '\e5cb';
    }
  }

  &:hover &__control {
    opacity: 1;
  }

  &__indicators {
    position: absolute;
    right: 11px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
  }

  &__indicator {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    background-color: transparent;
    border: 1px solid $color-third-bg;
    border-radius: 50%;
    cursor: pointer;
    filter: drop-shadow(0 5px 5px rgba(31, 32, 65, 30%));

    &_active {
      background-color: #fff;
    }
  }
}

.transition-none {
  transition: none;
}
